<div class="card">
  <h1>I've retired <span class="papyrus">MonaCodeLisa</span></h1>
  <p>I have officially retired the MonaCodeLisa username & domains and transitioned to:</p>
  <h1><a href="https://esthersoftware.dev" target="_blank"><span class="papyrus">EstherSoftwareDev</span></a></h1>
  <p>The only reason I am keeping this domain active is that there are still links on Google and elsewhere that may
    lead here. Since I made the change without an official announcement, I wanted to provide at least one point of
    reference. This way, people who end up here won't encounter non-working domains and wonder what happened.</p>
  <h3>What's Changed?</h3>
  <ul>
    <li><strong>Old Domains</strong>: <code>monacodelisa.com</code> & <code>monacodelisa.dev</code> are no longer in
      use by me.</li>
    <li><strong>New Domains:</strong> <a href="https://esthersoftware.dev" target="_blank"
        rel="noopener"> esthersoftware.dev</a> & estherwhite.dev are domains that I am going to be using.</li>
    <li><strong>Online Handles:</strong> Every handle online has been updated to reflect my new username,
      <code>EstherSoftwareDev</code>. In cases where there's a 15-character limit, I use
      <code>EstherWhiteDev</code>.
    </li>
    <li><strong>Blog:</strong> I have changed my blog URL from <code>blog.monacodelisa.com</code> to <a
      href="https://blog.esthersoftware.dev" target="_blank" rel="noopener">blog.esthersoftware.dev</a>.</li>
    <li><strong>Email Address:</strong> My email has also changed to match the new branding.
    </li>
  </ul>
  <p>Let this mark the end of anyone addressing me as <code>`Mona`</code>. It was never part of my name - it was
    simply a fragment of my old username.</p>
  <p>I hope this clears up any confusion moving forward.</p>
  <p>Thank you for your understanding and support as I embrace this new chapter!</p>
  <div class="footer">
    <p>Best regards, <strong>Esther White</strong></p>
    <small>25 Dec 2024</small>
  </div>
</div>
